.faq {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  margin-bottom: 24px;
  color: #fe303f;
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}
